{% extends "layout.twig" %}
{% block content %}

<header class="home-feature">
	{{widget('feature', 'featurewidget', {"header": "profile", "strapline":"profile", "buttonText":"MAECENAS","defaultBgImg": asset('images/feature-bg.jpg'), 'showBtn': true})|raw}}
</header>

<div class="container">
	<section class="section main home-page">
		{{zone('main')|raw}}
	</section>
</div>

{% endblock %}